*{
    margin: 0px auto;
    padding: 0px;
}
.wrapper{
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: fixed;
    z-index: 2;
}
.row{
    width: 100%;
    height: auto;
    border-top: 5px solid rgb(0, 255, 98);
}
.wrap-top{
    width: 1250px;
    height: 50px;
    border: 1px solid black;
    position: relative;
}
.wrap-foot{
    width: 100%;
    height: 40px;
    background-color: blue;
}
.box-wrap-foot{
    width: 1250px;
    height: 30px;
    border: 1px solid black;
    position: relative;
    top: 3.5px;
}
.box-pic-md .box-pic-bg{
    width: 100%;
    height: 310px;
    background-color: aqua;
    position: relative;
    top: 90px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: blur(0.7px);
}
.box-search{
    width: 750px;
    height: 80px;
    border: 1px solid rgb(165, 164, 164);
    z-index: 1;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    bottom: -35px;
    box-shadow: 1px 4px 12px rgb(180, 177, 177);
}
.grid-list{
    width: 1250px;
    height: auto;
    overflow: hidden;
    /*Border*/
    position: relative;
    top: 80px;
    margin-bottom: 20px;
}
.grid-list-0{
    width: 1250px;
    height: auto;
    overflow: hidden;
    /*Border*/
    position: relative;
    top: 80px;
    margin-bottom: 110px;
}
.grid-tp-hd{
    width: 100%;
    height: auto;
    /*Border*/
}
.hd-lb-0{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: rgb(54, 53, 53);
    position: relative;
    left: 5px;
}
.lb-cp{
    color: rgba(143,143,143,1.00);
    line-height: 30px;
    position: relative;
    left: 5px;
}
.box-content-grid-md{
    width: 100%;
    height: 300px;
}
.list-content-box-0{
    width: 300px;
    height: 250px;
    float: left;
    margin: 6px;
    position: relative;
    top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}
.pic-list-content{
    width: 100%;
    height: 200px;
}
.cap-pg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    position: relative;
    top: 2px;
    color: rgb(43, 41, 41);
}
.grid-content-foot{
    width: 100%;
    height: 22px;
}
.lb-cap-ft{
    float: right;
    font-family: MuseoSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 16px;
    position: relative;
    right: 10px;
    cursor: pointer;
    color: rgb(25, 155, 35);
}
.lb-ht{
    width: 110px;
    height: 25px;
    float: left;
    position: relative;
    bottom: 100px;
    background-color: rgb(163, 13, 13);
    padding: 5px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
}
.pin-left{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    position: relative;
    top: 2px;
}
.box-subs{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #2a3788;
}
.box-list-subs{
    width: 1250px;
    height: 60px;
    position: relative;
    top: 16px;
    margin-bottom: 30px;
}
.lbl-lst-subs{
    width: 440px;
    height: auto;
    float: left;
    position: relative;
    margin: 7.5px;
    left: 150px;
}
.pgf-lst-subs{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.box-subs-0{
    width: 400px;
    height: 45px;
    float: right;
    margin: 6px;
    position: relative;
    right: 160px;
}
.inpt-box-subs{
    padding-left: 10px;
    padding-right: 10px;
    width: 250px;
    height: 45px;
    display: block;
    float: left;
    text-align: left;
    border : none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #4c5155;
}
.button-subs{
    width: 100%;
    height: 45px;
    background-color: #dd2c00;
}
.button-sub-0{
    width: 116px;
    height: 40px;
    margin: 2.5px;
    position: relative;
    left: 5px;
    border: none;
    background-color: #dd2c00;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.footer-bottom{
    width: 100%;
    height: 100px;
}
.foot-cap-md{
    text-align: center;
    position: relative;
    top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: #212121;
}